* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #e2e7ec;
	padding: 5%;
}

.content {
	max-width: 1140px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 360px);
	grid-gap: 20px;
}

.item {
	height: 540px;
	background: #ffffff;
}

.item_big {
	grid-column: 1 / -2;
	background-image: url(../img/img\ big.png);
	padding: 48px;
	display: grid;
	align-content: end;
}

.item__text {
	padding: 24px;
}

.item__date {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #818181;
	margin-bottom: 16px;
}

.item__heading {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #1d1d1d;
}

.item__heading__white {
	color: white;
}

@media (max-width: 1023px) {
	body {
		padding: 0;
	}
}
